body{
    /* background-image: url("abstract.jpg"); */
    background: cadetblue;
    text-align: center;
   
}
h1{
      font-family: 'Luckiest Guy', cursive;
      font-stretch: expanded;
      font-size: 90px;
      color:rebeccapurple;
    }

.box1{
padding: 50px;
background-color: rgb(192, 215, 235);
color:black;
height: 500px;
margin:50px;
    
}
#startbtn{
    position: relative;
    top:50px;
    font-size: 30px;
    width:100%;
    text-align: center;

}
.questions{
    color:black;
    font-size: 18px;
    font-stretch: ultra-expanded;
    font-family: 'Luckiest Guy', cursive;
}
.choosebtn{
    font-size:10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}